.resourcesPage {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.resourcesPage a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .resourcesPage {
        flex-direction: column;
        height: auto;
    }
}

.content {
    margin: 0 5rem;
}
@media screen and (max-width: 600px) {
    .content {
        margin: 0 1rem;
    }
}

.content > * {
    margin-bottom: 3rem;
}

.list-resources {
    list-style: '— ';

    padding: 0;
    margin: 0;
}
.list-resources li {
    margin: 2rem 1rem;
}