.profiles-grid-layout {
    margin: 3rem 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    column-gap: 2rem;
    row-gap: 3rem;

    list-style: none;
}

.profile-item {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .profiles-grid-layout {
        grid-template-columns: repeat(1, 1fr);
    }
}