.title {
    width: max-content;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.title span {
    color: inherit;
}

.title hr {
    border: currentColor solid 1px;
	width: 100%;
}

.desc {
    min-width: 100%;
    width: min-content;

    text-align: center;
}