.content {
    margin: 3rem 10rem;
}
@media screen and (max-width: 600px) {
    .content {
        margin: 3rem 1rem;
    }
}

.content--middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: space-between;
}

.sponsor-grid {
    padding: 0;
    margin: 0;

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    list-style: none;
}
@media screen and (max-width: 600px) {
    .sponsor-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


.sponsor-item img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}