.content {
    margin: 3rem 10rem;
}

.content--middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-grid {
    padding: 0;
    margin: 0;

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    list-style: none;
}


.sponsor-item img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}