.header {
    overflow: hidden;
}

.header--vertical-half {
    height: 100vh;
    width: 50vw;

    overflow: initial;
}
.header--horizontal-half {
    height: 50vh;
    width: 100vw;

    overflow: initial;
}

.header--full {
    height: 100vh; 
    width: 100vw;
}

.header--full .header-container {
    margin-top: 25vh !important;
}

.header-container {
    width: inherit;
    height: inherit;
}
.header-content {
    width: fit-content;
    max-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    color: white;
    fill: currentColor;
}
.header-desc {
    max-width: 50vw;

    text-align: center;
    margin: 3rem 0;
}
@media screen and (max-width: 600px) {
    .header-desc {
        max-width: 100vw;
    }
}

.header-content--middle {    
    margin: 0 auto;
    
    align-items: center;
    justify-content: flex-start;
}
.header-content--left {
    width: fit-content;

    margin: 0 10rem;

    align-items: flex-start;
}

.header-content--left .header-desc {
    text-align: left;
}

.header-content :global(.title hr) {
    border-color: currentColor;
}