.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 20vh;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.6) 39.06%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.navbar-nav {
    height: 100%;

    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: row;

    list-style: none;
}

.nav-item {
    width: 15%;
    height: 4rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-item-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.70);
    fill: currentColor;

    transition: 100ms ease-in;
}
.nav-item-content svg {
    width: 1.5rem;
    height: 1.5rem;
}
.nav-item-content:hover {
    color: var(--secondary-color);
}

.nav-logo {
    margin: 0 auto;
}
.nav-logo img {
    width: 9rem;
    height: 9rem;
}


.drop-down {
    padding: 0;
    margin: 0;

    min-width: fit-content;
    width: inherit;

    position: absolute;
    top: 40%;

    background-color: var(--secondary-color);
    border-radius: 2.5px;

    transition: 300ms ease-in-out;
}
.drop-down_item {
    list-style: none;

    width: fit-content;

    margin: 0.5rem 0;
    padding: 0 1rem;

    color: var(--gray);
    text-transform: uppercase;
}
.drop-down_item:hover {
    color: var(--primary-color);
}