.committe-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}
.committe-container img {
    width: 100%;
    min-height: 50%;

    object-fit: cover;
}

.committe-content {
    padding: 0.5rem;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.committe-content .button {
    margin-top: auto;
}
