.navbar {
    position: fixed;

    width: 100%;
    height: auto;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.6) 39.06%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.navbar-nav {
    height: 100%;

    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: row;

    list-style: none;
}

.nav-item {
    width: 172px;
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-item span {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #FFFFFF;
}

.logo {
    margin: 0 auto;
}
.logo img {
    width: 150px;
    height: 150px;
}