.navbar {
    position: fixed;

    width: 100%;
    height: auto;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.6) 39.06%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.navbar-nav {
    height: 100%;

    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: row;

    list-style: none;
}

.nav-item {
    width: 172px;
    height: 64px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-item-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icon svg {
    fill:rgba(255, 255, 255, 0.70);
    width: 1.5rem;
    height: 1.5rem;
}
.nav-item-content span {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.70);

    transition: 100ms ease-in;
}

.nav-item-content:hover span {
    color:rgba(255, 255, 255, 1);
}
.nav-item-content:hover .nav-icon>svg{
    fill:rgba(255, 255, 255, 1);
}
.nav-logo {
    margin: 0 auto;
}
.nav-logo img {
    width: 150px;
    height: 150px;
}


.drop-down-menu {
    padding: 0;
    margin: 0;

    width: inherit;

    position: absolute;
    top: 40%;

    background-color: var(--secondary-color);
    border-radius: 2.5px;

    transition: 300ms ease-in-out;
}
.menu-item {
    list-style: none;

    margin: 0.5rem 0;
    padding: 0 2rem;
}
.menu-item span {
    color: var(--gray);
}
.menu-item span:hover {
    color: var(--primary-color);
}