/* * { outline: red solid 1px; } */
@font-face {
	font-family: 'Lora';
	src: local('Lora'), url(./fonts/Lora-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open sans';
	src: local('Open sans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

body {
	margin: 0;
}

.h1 {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;

	color: #000000;
}

.h2 {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;

	color: #000000;
}

.p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #000000;
}
