/* * { outline: red solid 1px; } */

@font-face {
	font-family: 'Lora';
	src: url(./fonts/Lora/Lora-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open sans';
	font-weight: light;
	src: url(./fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Open sans';
	font-weight: normal;
	src: url(./fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open sans';
	font-weight: bold;
	src: url(./fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Garamond';
	src: url(./fonts/Garamond/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-weight: normal;
	src: url(./fonts/Futura/FuturaPT-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-weight: light;
	src: url(./fonts/Futura/FuturaPT-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-weight: bold;
	src: url(./fonts/Futura/FuturaPT-Demi.ttf) format('truetype');
}

:root {
	--primary-color: #DB1278;
	--secondary-color: #FFFFFF;
	--tertiary-color: #222222;
	--black: #000000;
	--gray: #adacae;
}

@media screen and (max-width: 600px) {
	:root {
		font-size: 14px;
	}
}

#root {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

svg {
	fill: currentColor;
}

body {
	margin: 0;
	padding: 0;
}

.h1 {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 61px;

	color: var(--black);
}

.h2 {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 41px;

	color: var(--black);
}

.h3 {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 41px;

	color: var(--black);
}


.p {
	font-family: Futura;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 22px;

	color: inherit;

    white-space: pre-line;
}

.lrg {
	font-size: 1.25rem;
}
.ltl {
	font-size: 1rem;
}

.right {
	text-align: right;
}

.bold {
	font-weight: bold;
}
.light {
	font-weight: light;
}
.italic {
	font-style: italic;
}