.background-image {
    position: absolute;
    left: 0;
    top: 0;

    background: url('../../../public/images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;

    width: inherit;
    height: inherit;

    filter: brightness(60%);
}